.header__contacts-mobile {
  width: 100%;
  height: 86px;
  background-color: $dark-green;
  position: absolute;
  bottom: -70px;
  left: 0;
  border-top: 1px solid $border;
  display: flex;
  justify-content: center;
  align-items: center;

  .contacts-mobile__phone,
  .contacts-mobile__callback {
    text-decoration: none;
    text-transform: uppercase;
    color: $light-brown;
    font-size: 12px;
    line-height: 15px;
    position: relative;

    &:hover {
      border-bottom: 1px solid $light-brown;
    }

    &:active {
      color: $lime;
    }
  }

  .contacts-mobile__phone {
    margin-right: 70px;
  }

  .contacts-mobile__phone::before {
    content: "";
    background-image: url("../img/phone.svg");
    position: absolute;
    width: 17px;
    height: 17px;
    top: -20px;
    left: 40%;
  }

  .contacts-mobile__callback::after {
    content: "";
    background-image: url("../img/ring.svg");
    position: absolute;
    width: 14px;
    height: 14px;
    top: -20px;
    left: 40%;
  }
}

@media (min-width: 768px) {
  .header__contacts-mobile {
    display: none;
  }
}
